body {
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
	height: 70px;
	background-color: white;
	color: #CD5C57;
	border-bottom: 2px solid black;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
}

#banner h3 {
	margin-left: 15px;
}

#lic_num {
	color: #CD5C57;
	position: absolute;
	right: 35px;
	top: 0;
}

#logo {
	position: relative;
	height: 120px;
	width: 250px;
}

#nav-bar {
	width: 100%;
	height: 120px;
	background-color: white;
	border-bottom: 1px solid black;
	margin-bottom: 0;
}

#nav-bar ul{
	margin-left: 20px;
	color: black;
	list-style-type: none;
	display: inline-block;
	position: absolute;
	margin-top: 26px;
}

#nav-bar li {
	float: left;
	margin-left: 60px;
	display: block;
	text-align: center;
	margin-right: 80px;
	font-size: 20px;
	line-height: 90px;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
}

#nav-bar a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    color: #CD5C57;
}

#nav-bar a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #CD5C57;
    transition: width .3s;
}

#nav-bar a:hover::after {
    width: 50%;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}


#home {
	top: 0;
	position: relative;
	margin: 0;
	width: 100%;
	height: 500px;
	background-color: #E3E8E4;
}

#slideshow_container { 
    position: relative; 
    width: 900px; 
    height: 500px; 
    margin: 0 auto;
    background-color: black;
}

#slideshow > div { 
    position: absolute; 
  	margin: 0; 
}

#slideshow_text {
	z-index: 5;
	font-size: 50px;
	position: absolute;
	margin-left: 100px;
	margin-top: 220px;
	font-family: 'Lato', sans-serif;
	color: black;
}

#about {
	top: 0;
	position: relative;
	margin: 0;
	width: 100%;
	height: 600px;
	background-color: white;
}

#about_title {
	font-family: 'Titan One', cursive;
	color: black;
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 50px;
}

#about_left{
	position: absolute;
	width: 550px;
	height: 400px;
	margin-top: 140px;
	margin-left: 40px;
}

#about_paragraph {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	position: absolute;
	color: black;
}

#about_testimonial {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	position: absolute;
	margin-top: 220px;
	color: black;
	font-style: italic;
}

#about_logo {
	position: absolute;
	width: 550px;
	height: 400px;
	float: right;
	margin-top: 120px;
	margin-left: 650px;
}

#services {
	position: relative;
	height: 700px;
	width: 100%;
	background-color: #E3E8E4;
}

#services_title {
	font-family: 'Titan One', cursive;
	color: black;
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 50px;
}

#services_paint {
	position: absolute;
	width: 250px;
	height: 450px;
	background-color: white;
	margin-left: 40px;
	margin-top: 140px;
}

#services_plumbing {
	position: absolute;
	width: 250px;
	height: 450px;
	background-color: white;
	margin-left: 330px;
	margin-top: 140px;
}

#services_electricity {
	position: absolute;
	width: 250px;
	height: 450px;
	background-color: white;
	margin-left: 620px;
	margin-top: 140px;
}

#services_par_div{
	position: absolute;
	margin-top: 250px;
	width: 300px;
	height: 200px;
	margin-left: 900px;
}

#services_paragraph {
	position: absolute;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	color: black;
}

#paint_picture {
	position: absolute;
	width: 100%;
	height: 225px;
}

#services_paint > p {
	position: absolute;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-top: 280px;
	margin-left: 15px;
}

#services_paint > h1 {
	position: absolute;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 240px;
	margin-left: 90px;
}

#plumbing_picture {
	position: absolute;
	width: 100%;
	height: 225px;
}

#services_plumbing > p {
	position: absolute;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-top: 280px;
	margin-left: 12px;
}

#services_plumbing > h1 {
	position: absolute;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 240px;
	margin-left: 75px;
}

#electricity_picture {
	position: absolute;
	width: 100%;
	height: 225px;
}

#services_electricity > p {
	position: absolute;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-top: 280px;
	margin-left: 12px;
}

#services_electricity > h1 {
	position: absolute;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 240px;
	margin-left: 65px;
}

#contact {
	position: relative;
	height: 400px;
	width: 100%;
	background-color: white;
}

#contact > h1 {
	font-family: 'Titan One', cursive;
	color: black;
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 50px;
}

#contact > h2:nth-child(2) {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: black;
	position: absolute;
	margin-left: 50px;
	margin-top: 150px;
}

#contact > h2:nth-child(3) {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: black;
	position: absolute;
	margin-left: 50px;
	margin-top: 230px;
}

#contact > p{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #CD5C57;
	position: absolute;
	margin-left: 50px;
	margin-top: 360px;
}

